<!DOCTYPE html>
<html lang="en">
<head>
<title>Jatrelle's First Rails Blog</title>
<meta charset="UTF-8">
<style>
body { background-color: #E6E6FA; color: #191970; }
h1 { background-color: #191970; color: #E6E6FA; }
</style>
</head>
<body>
	<h1>Hello, Rails!</h1>
	<p> Welcome to Jatrelle's First Rails Blog.</p>
	
</body>


